body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:auto;

}
.docs{
    width: 90vw;
    height: 97vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
    .banner{
        width: 82vw;
        height: 15vh;
        align-self: flex-end;   
        display: flex;
        align-items: center;
    }
        .chalmersLogo{
            align-self: flex-start;
            margin: auto 0 auto 0;
        }
            .spacer{
                width: 0.5em;
            }
        h1{
            margin-left: 0.5em;
        }


    a .footer{
        align-self: flex-end;
        float: right;
        /* transform: translateX(3em); */
        width: 20vw;
        height: 10vh;
        border-radius: .5em .5em 0 0;   
        background: rgb(230, 230, 230);
        color: black;
        transition: background 0.5s;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.125em;
        box-shadow: 0 1em 4em #131313;
    }
        .footer:hover{
            background:rgb(75, 75, 75);
            color:white;
        }
        