@media screen and (max-width: 55em){
    html{
        width:100vw;
        padding-bottom: 10em;
    }
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    .landing{
        width: 95vw;
        height: auto;
        margin: 1em 0 1em 0;
        padding: 1em 0 0 0;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .content{
        padding:0; 
    }
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto; 
        text-align: center;
    }
        .chalmersLogo{
            /* fixing alignment issue */
            transform: translateX(.5em); 
            width: 5em;
            height: 5.5em;
            border-width: 0.18em;
            padding: 0;
            margin: 0;
        }
        /* eye spacer */
            .spacer{
                width: 0.5em;
            }
        .chalmersCardsBatch{
            width:80vw;
            margin: auto;
            height: 40vh;
            background-position: center;
            background-size:100vw;
        }
    .sidebar{
        width: 95vw;
        height: auto;
        padding: 1em 0 1em 0;
        padding-right: 0;
        border-radius: 0 0 .5em .5em;
    }
        i{
            width: 0.5em;
            height: 0.5em;
            border-width: 0 0.08em 0.08em 0;
        }
    p{
        width: 80vw;
    }
}   