*{
  font-family: arial;
}
/* load the background image */
html{
  background: url(https://raw.githubusercontent.com/misterchalmers/ChalmersSite/master/images/nightSky.JPG);
  background-size: cover;
  background-position: center;
  height: 100%;

  /* position the content window */
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
}
body{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.chalmersLogo{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: .17em white solid;

    display: flex;
    align-items: center;
    justify-content: center;
}
    .eyes{
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        border: .125em white solid;
    }
    .spacer{
        visibility: hidden;
        width:0.3em;
    }