/* load the background image */
html{
  background: url(https://raw.githubusercontent.com/misterchalmers/ChalmersSite/master/images/nightSky.JPG);
  background-size: cover;
  background-position: center;
  height: 100%;

  /* position the content window */
  display: flex;
  justify-content: center;
  align-items: center;
}


