*{
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  font-family: courier;
}

a{
  color: white;
  flex: 3;
}
body{
  background-color: #35424A;
  display: flex;
  flex-direction: column;
}
header{
  margin-top: 20px;
  text-align: center;
  flex:1;
  /* background-color: darkgrey; */
}
.content{
  margin-top: 20px;
  flex:4;
  background-color: #35424A;
  display: flex;
}

.circle{
  flex:1;
  display: grid;
  background-color: #E84200;
  height:100px;
  width:100px;
  border-radius: 50px;
  border-color: #A22E00;
  border-width: 4px;
  border-style: solid;
  text-align: center;
}
div .circle h4{
  margin-top: 35px;
}
.circle:hover{
  background-color: #A22E00;
}
